# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

C:\Users\User\AppData\Local\Temp\ipykernel_16876\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [3]:
url1=('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
data1=pd.read_csv(url1)

In [4]:
url2=('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')
data2=pd.read_csv(url2)

   ### Step 3. Assign each to a variable called cars1 and cars2

In [5]:
cars1=data1
cars2=data2

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [6]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [7]:
#since the unnamed columns have null values, slice them out
cars1 = cars1.loc[:, 'mpg':'car']
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [8]:
cars1.shape
#198 rows, 9 columns

(198, 9)

In [9]:
cars2.shape
#200 rows, 9 columns

(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [10]:
cars1.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320

In [11]:
cars2.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se

In [12]:
cars=pd.merge(cars1,cars2,on='car')

In [13]:
cars.head()

,mpg_x,cylinders_x,displacement_x,horsepower_x,weight_x,acceleration_x,model_x,origin_x,car,mpg_y,cylinders_y,displacement_y,horsepower_y,weight_y,acceleration_y,model_y,origin_y
0,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw),16.9,8,350,155,4360,14.9,79,1
1,25.0,4,110,87,2672,17.5,70,2,peugeot 504,19.0,4,120,88,3270,21.9,76,2
2,25.0,4,110,87,2672,17.5,70,2,peugeot 504,27.2,4,141,71,3190,24.8,79,2
3,25.0,4,113,95,2228,14.0,71,3,toyota corona,27.5,4,134,95,2560,14.2,78,3
4,25.0,4,98,?,2046,19.0,71,1,ford pinto,26.5,4,140,72,2565,13.6,76,1

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [14]:
owners = np.random.randint(15000, high=73001, size=398, dtype='l')

### Step 8. Add the column owners to cars

In [16]:
cars['owners'] = owners

ValueError: Length of values (398) does not match length of index (36)