# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

C:\Users\User\AppData\Local\Temp\ipykernel_15864\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
Series1 = pd.Series(np.random.randint(1,5, size=100))
Series2= pd.Series(np.random.randint(1,4, size=100))
Series3= pd.Series(np.random.randint(10000,30000, size = 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
df = pd.concat([Series1,Series2,Series3], axis=1)

In [4]:
df.head()

   0  1      2
0  3  2  24702
1  2  2  17196
2  3  3  16791
3  2  3  21560
4  4  1  12542

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [5]:
df.rename(columns={0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)

In [6]:
df.head()

   bedrs  bathrs  price_sqr_meter
0      3       2            24702
1      2       2            17196
2      3       3            16791
3      2       3            21560
4      4       1            12542

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [11]:
bigcolumn= pd.DataFrame(pd.concat([Series1,Series2,Series3], axis = 0))

In [12]:
bigcolumn.head()

   0
0  3
1  2
2  3
3  2
4  4

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [13]:
bigcolumn.index
#yes

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
       ...
       90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype='int64', length=300)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [14]:
bigcolumn.reset_index(drop=True)

         0
0        3
1        2
2        3
3        2
4        4
..     ...
295  13698
296  11691
297  18845
298  22882
299  19994

[300 rows x 1 columns]